<div>
    <h2>
        <span jhiTranslate="giggatewayApp.gig.home.title">Gigs</span>
        <button class="btn btn-primary float-right jh-create-entity create-gig" [routerLink]="['/', { outlets: { popup: ['gig-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="giggatewayApp.gig.home.createLabel">
            Create new Gig
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gigs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startDate"><span jhiTranslate="giggatewayApp.gig.startDate">Start Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="giggatewayApp.gig.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isCancelled"><span jhiTranslate="giggatewayApp.gig.isCancelled">Is Cancelled</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="giggatewayApp.gig.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="ticketPrice"><span jhiTranslate="giggatewayApp.gig.ticketPrice">Ticket Price</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stageName"><span jhiTranslate="giggatewayApp.gig.stageName">Stage Name</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gig of gigs ;trackBy: trackId">
                <td><a [routerLink]="['../gig', gig.id ]">{{gig.id}}</a></td>
                <td>{{gig.startDate | date:'mediumDate'}}</td>
                <td>{{gig.name}}</td>
                <td>{{gig.isCancelled}}</td>
                <td>{{gig.description}}</td>
                <td>{{gig.ticketPrice}}</td>
                <td>{{gig.stageName}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../gig', gig.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gig/'+ gig.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'gig/'+ gig.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="gigs && gigs.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
