
<div *ngIf="gig">
    <h2><span jhiTranslate="gatewayApp.gig.detail.title">Gig</span> {{gig.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gatewayApp.gig.name">Name</span></dt>
        <dd>
            <span>{{gig.name}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.gig.startDate">Start Date</span></dt>
        <dd>
            <span>{{gig.startDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.gig.isCancelled">Is Cancelled</span></dt>
        <dd>
            <span>{{gig.isCancelled}}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.gig.ticketPrice">Ticket Price</span></dt>
        <dd>
            <span>{{gig.ticketPrice}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'gig/'+ gig.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
