
<div *ngIf="band">
    <h2><span jhiTranslate="giggatewayApp.band.detail.title">Band</span> {{band.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="giggatewayApp.band.name">Name</span></dt>
        <dd>
            <span>{{band.name}}</span>
        </dd>
        <dt><span jhiTranslate="giggatewayApp.band.musicGenre">Music Genre</span></dt>
        <dd>
            <span>{{band.musicGenre}}</span>
        </dd>
        <dt><span jhiTranslate="giggatewayApp.band.origin">Origin</span></dt>
        <dd>
            <span>{{band.origin}}</span>
        </dd>
        <dt><span jhiTranslate="giggatewayApp.band.siteUrl">Site Url</span></dt>
        <dd>
            <span>{{band.siteUrl}}</span>
        </dd>
        <dt><span jhiTranslate="giggatewayApp.band.dateOfFormation">Date Of Formation</span></dt>
        <dd>
            <span>{{band.dateOfFormation | date:'mediumDate'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'band/'+ band.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
