<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger bandName="com.gigmanager.gigservice" level="INFO"/>

    <logger bandName="io.github.jhipster" level="WARN"/>

    <logger bandName="javax.activation" level="WARN"/>
    <logger bandName="javax.mail" level="WARN"/>
    <logger bandName="javax.xml.bind" level="WARN"/>
    <logger bandName="ch.qos.logback" level="WARN"/>
    <logger bandName="com.codahale.metrics" level="WARN"/>
    <logger bandName="com.netflix" level="WARN"/>
    <logger bandName="com.netflix.discovery" level="INFO"/>
    <logger bandName="com.ryantenney" level="WARN"/>
    <logger bandName="com.sun" level="WARN"/>
    <logger bandName="com.zaxxer" level="WARN"/>
    <logger bandName="io.undertow" level="WARN"/>
    <logger bandName="io.undertow.websockets.jsr" level="ERROR"/>
    <logger bandName="org.apache" level="WARN"/>
    <logger bandName="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger bandName="org.bson" level="WARN"/>
    <logger bandName="org.hibernate.validator" level="WARN"/>
    <logger bandName="org.mongodb.driver" level="WARN"/>
    <logger bandName="org.reflections" level="WARN"/>
    <logger bandName="org.springframework" level="WARN"/>
    <logger bandName="org.springframework.web" level="WARN"/>
    <logger bandName="org.springframework.security" level="WARN"/>
    <logger bandName="org.springframework.cache" level="WARN"/>
    <logger bandName="org.thymeleaf" level="WARN"/>
    <logger bandName="org.xnio" level="WARN"/>
    <logger bandName="springfox" level="WARN"/>
    <logger bandName="sun.rmi" level="WARN"/>
    <logger bandName="sun.net.www" level="INFO"/>
    <logger bandName="sun.rmi.transport" level="WARN"/>

    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
