version: '2'
services:
    uua-mongodb:
        image: mongo:3.4.8
        command: mongod --port 27018
        ports:
            - "27018:27018"
        # volumes:
        #     - ~/volumes/jhipster/uua/mongodb/:/data/db/
        volumes:
          - /mnt/KubernetesVolume/uaa-mongo-vol

